{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</head>
<body>
    
    <div id="landing">
        <div id="bg-img">
            <div class="signup"></div>
        </div>
        
        <div class="content">
            <div id="signup">
                <div class="controls login">
                    <div id="sign-back">
                        <span class="fas fa-arrow-circle-right fa-2x icon"></span>
                        <span class="back" >Sign me up!</span>
                    </div>
                </div>
                
                <div class="form">
                    <div class="form-title">Log In</div>
                    <form action="{% url 'login' %}" method="GET">
                        <div class="inputs">
                            <div class="form-group">
                                <label for="emaill">Email:</label>
                                <input type="email" name="email">
                            </div>
                            
                            <div class="form-group">
                                <label for="passl">Password:</label>
                                <input type="password" name="password" id="passl">
                            </div>
                            
                            <div class="button-group">
                                <input type="submit" value="Log In" class="primary">
                            </div>
                            
                            
                            <small><a href="#" class="text-muted">Let me try the guest version first!</a></small>
                        </div>
                    </form>
                </div>
            </div>

            <div id="login">
                <div class="controls">
                    <div id="login-back">
                        <span class="fas fa-arrow-circle-left fa-2x icon"></span>
                        <span class="back" >I have an account!</span>
                    </div>
                </div>
                
                <div class="form">
                        <div class="form-title"> SIGN UP </div>
                        <form action="{% url 'register' %}#login" method="GET">
                            <div class="inputs">
                                <div class="form-group">
                                    <label for="cardno">Card Number:</label>
                                    <input type="text" name="cardno" id="cardno">
                                </div>
                                
                                <div class="form-group">
                                    <label for="pass">Password:</label>
                                    <input type="password" name="password" id="pass">
                                </div>
                                
                                <div class="input-group">
                                    <div class="form-group">
                                        <label for="fname">First Name:</label>
                                        <input type="text" name="fname" id="fname">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="lname">Last Name:</label>
                                        <input type="text" name="lname" id="lname">
                                    </div>
                                </div>
                                
                                <div class="input-group">
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" id="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="contact">Contact:</label>
                                        <input type="text" name="contact" id="contact">
                                    </div>
                                </div>
                                
                                <div class="button-group">
                                    <input type="submit" value="Register" class="primary">
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/fontawesome/js/all.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
</body>
</html>