.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

.modal-content {
    min-height: 250px;
    padding-top: 30px;
}

.go-up {
    text-align: center;
}

.go-up .question {
    font-size: 24px;
    font-weight: lighter;
}

.go-up input {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
    border: 1px solid #717171;
    padding: 5px 10px;
    border-radius: 2px;
}

.go-up input:focus {
    border: 1px solid #a44153;
}

.question-block {
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

.question-show {
    display: block;
    animation: goup 0.5s 1;
    -webkit-animation: goup 0.5s 1;
    -o-animation: goup 0.5s 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.disabled {
    cursor: default;    
    color: #9b9b9b !important;
}

@keyframes goup {
    from {top: 25px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

body {
    padding: 10px;
}

.nav-link:not(.active) .icon {
    color: #a44153;
}

a {
    outline: none;
}

.primary {
    background-color: #a44153;
    min-width: 100px;
    color: #ffffff;
    border: 1px solid #a44153;
    cursor: pointer;    
}

.primary:hover {
    background-color: #bb4b5f;
}

.expenses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 15px;
    flex-grow: 2;
}

.expenses > div:first {
    width: 25vw;
}

#expenses-group {   
    display: none;
}

.expenses-group-show {
    display: block !important;
}

.title {
    display: block;
    margin: 25px 0px 0px 10px;
    font-size: 24px;
}

#tracker {
    width: 250px;
}

#categories {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 5;
}

.ticket {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    margin: 10px;
    min-width: 250px;
    color: #ffffff;
    padding: 10px;
}

.ticket .ttitle {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dashed #fff;
}

.ticket .amt {
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
}
